<h2>Login</h2>
<hr />
<form method="post">


<input type="text" placeholder="username" name="userName" class="form-control"  /><br>
<input type="password" placeholder="password" name="password" class="form-control" />
<label>Forgot password?</label><br />
<button class="btn btn-primary">Login</button><br>
<label>Not a member? </label> <a href="#">Signup</a>
</form>